@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Julee&display=swap');

body{
    margin:0;
    font-family: 'Julee', 'Handlee', cursive;
}

#div1{
    display:flex;
    justify-content: center;
    align-items: center;
}

#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainDiv > div > button{
    margin-top: 1vh;
    width: 13vw;
    height: 3vh;
}

#input{
    width: 40vw;
    height: 3vh;
    text-align: center;
}

@media screen and (min-width:1024px){
    #mainDiv > div > button{
        width: 7vw;
        height: 3vh;
    }
}